/* main style */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:link {color:#000000;} /* 未访问链接*/

a:visited {color:#000000;} /* 已访问链接 */

a:hover {color:#000000;} /* 鼠标移动到链接上 */

a:active {color:#000000;} /* 鼠标点击时 */

html {
  font-size: 14px;
  /* background-color: #f2f2f2; */
}

body {
  font-family: hkclass;
}

.t-layout__footer {
  padding: 12px !important;
}

.unvisible {
  display: none;
}

.commonView {
  position: relative;
  height: calc(100vh - 80px);
  padding: 12px;
}

.pageNum {
  padding: 12px;
}

@font-face {
	font-family: "hkclass";
	src: url('https://image-u-hk.oss-cn-hongkong.aliyuncs.com/onlineclass/merriweather-regular.woff2');
	font-style: normal;
	font-display: swap;
  font-weight: 300;
}

@font-face {
	font-family: "syst-SemiBold";
	src: url('https://image-u-hk.oss-cn-hongkong.aliyuncs.com/onlineclass/systSemiBold.otf');
	font-style: normal;
	font-display: swap;
  font-weight: 300;
}

.t-collapse-panel.t-is-disabled .t-collapse-panel__header {
  cursor: auto !important;
  color: rgb(0 0 0) !important;
}

.chart-content::-webkit-scrollbar {
  width: 4px; /*  设置纵轴（y轴）轴滚动条 */
  height: 4px; /*  设置横轴（x轴）轴滚动条 */
}
 /* 滚动条滑块（里面小方块） */
.chart-content::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  background: rgba(0,0,0,0.9);
}
 /* 滚动条轨道 */
.chart-content::-webkit-scrollbar-track {
  border-radius: 0;
  box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  background: #f26326;
}

.guide-show {
  position: fixed;
  right: 25px;
  top: 75px;
  z-index: 99;
  cursor: pointer;
  display: block;
}

.pointer-item {
  cursor: pointer;
}